.row {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    padding: 1em 0;
}

.RowLetter {
    display: flex;
    border-color: grey;
    border-width: 1px;
    background-color: white;
    color: black;
}